* {
  margin: 0;
  padding: 0;
  color: white;
}

.body {
  background-color: #000000;
}

.logo {
  width: 240px;
  margin-left: -10px;
  margin-right: 20px;
}

.header{
  font-size: 12px;
  font-weight: bold;
}

.container00 {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.arrowDown {
  display: inline-block;
  width: 90px;
  padding-top: 50px;
  margin-top: 5px;
}

.container00 {
    &.container01 {
      background-image: url(/Desktop/Bootstrap-OBC/img/home/01.jpg);
    }
    &.container02 {
      background-image: url(/Desktop/Bootstrap-OBC/img/home/03.jpg);
    }
    &.container03 {
      background-image: url(/Desktop/Bootstrap-OBC/img/home/02.gif);
    }
    &.container04 {
      background-image: url(/Desktop/Bootstrap-OBC/img/home/04.jpg);
    }
}

.titlePadding {
  padding-top: 200px;
}

#lauchComing {
  // padding-top: 200px;
  font-size: 30px;
  padding-top: 20px;

}

.shortTitle {
  width: 550px;
  font-weight: 200;
  margin-bottom: -25px;
}

.mediumTitle {
  width: 650px; 
  margin-bottom: -25px;
}

#button {
  width: 180px;
  height: 60px;
}

.footer {
  background-color: #000000;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 27px;
}

.footer a {
  text-decoration: none;
  color: white;
}

.copyOBC {
  color: gray;
}

// Falcon 9

.container00 {
  &.container05 {
    background-image: url(/Desktop/Bootstrap-OBC/img/falcon9/01.jpg);
  }
  &.container06 {
    background-image: url(/Desktop/Bootstrap-OBC/img/falcon9/02.jpg);
  }
  &.carrossel01 {
    background-image: url(/Desktop/Bootstrap-OBC/img/falcon9/03.jpg);
  }
  &.carrossel02 {
    background-image: url(/Desktop/Bootstrap-OBC/img/falcon9/04.jpg);
  }
  &.carrossel03 {
    background-image: url(/Desktop/Bootstrap-OBC/img/falcon9/05.jpg);
  }
  &.carrossel04 {
    background-image: url(/Desktop/Bootstrap-OBC/img/falcon9/06.jpg);
  }
  &.carrossel05 {
    background-image: url(/Desktop/Bootstrap-OBC/img/falcon9/07.jpg);
  }
  &.container07 {
    background-image: url(/Desktop/Bootstrap-OBC/img/falcon9/08.jpg);
  }
}

#lauchComingFalcon {
  text-align: center;
  padding-right: 20px;
  font-size: 82px;
  font-weight: 500;
}

.shortTitleDescription {
  text-align: center;
}

.numbers {
  background-color: #000000;
}

.titleNumb {
  font-size: 74px;
  padding-top: 32px;
  font-weight: 400;
}

.subTitleNumb {
  font-size: 24px;
}

.subTitleOvewView {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.shortTitleIntro {
  font-size: 22px;
  width: 640px;
  line-height: 50px;
  padding-bottom: 300px;
}

#overViewPosition {
  width: 500px;
  margin-left: 13%;
  padding-top: 15%;
}

.downloadDesc {
  background-color: #000000;
  height: 650px;
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.downloadDesc a {
  text-decoration: none;
  color: gray;
}

.downloadDesc .buttonsDesc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.downloadDesc button {
  width: 280px;
  height: 70px;
}

.carousselText {
  background-color: #000000;
}

// Human Space Fligth

.container00 {
  &.container08 {
    background-image: url(/Desktop/Bootstrap-OBC/img/humanFlight/01.jpg);
  }
  &.container09 {
    background-image: url(/Desktop/Bootstrap-OBC/img/humanFlight/02.jpg);
    text-align: center;
    padding-left: 700px;
  }
  &.container10 {
    background-image: url(/Desktop/Bootstrap-OBC/img/humanFlight/03.jpg);
  }
  &.container11 {
    background-image: url(/Desktop/Bootstrap-OBC/img/humanFlight/04.jpg);
    text-align: center;
    padding-left: 650px;
  }
  &.container12 {
    background-image: url(/Desktop/Bootstrap-OBC/img/humanFlight/05.jpg);
  }
}

.text p {
  text-decoration: none;
  color: white;
}

.text a {
  text-decoration: none;
  color: gray;
}

.shortTitleRigth {
  text-align: start;
}

#lauchComingRigth {
  text-align: start;
  font-size: 20px;
  font-weight: 200;
}

#buttonRigth {
  width: 180px;
  height: 60px;
}

.lauchComingHSF {
  font-size: 20px;
  font-weight: 200;
  padding-top: 20px;
  padding: 20px;
}

.shortTitleHSF {
  width: 550px;
  padding: 50px 0px;
  padding-bottom: 50px;
  margin-bottom: -25px;
}
